@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">StudentAdministration.UI</h1>
    <p><h3>Student administration app</h3></p>
    <p>Develop an application "Student Administration" that will enable student registration, management of their data, course enrollment, and grade tracking.</p>
    <p>Functionalities:</p>
    <p>1.User Registration: Enable students to register on the system by filling in personal data (name, surname, student ID, email).</p>
    <p>2.Editing Personal Data</p>
    <p>3.Course Management: Enable students to view available courses, enroll in and drop courses.</p>
    <p>4.Grade Records: The system should allow professors to enter grades per course for each student.</p>
    <p>5.Report Generation: Enable the generation of reports on average grades, study success, list of enrolled courses, etc.</p>
</div>
